.card {
    background-color: orange;
}


/* .carousel{
    height: 500px;
} */

.card-img-top {
    height: 300px;
}

.card-body {
    height: 250px;
}

#noRecipes {
    height: auto;
}

#deleteButton {
    position: absolute;
    top: 2%;
    left: 87%;
    width: 10%;
}