.h1,
h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif
}

.h4,
h4 {
    color: white;
    font-family: Arial, Helvetica, sans-serif
}


#div1 {
}

#div2 {
    border: red;
    border-width: 10px;
}

#div3 {
    border: red;
    border-width: 10px;
}

#container {
    position: absolute;
    max-width: auto;
    max-height: auto;
}

#container1 {
    position: relative;
    width: 40%;
}
  
#container2 {
    position: relative;
    float: right;
    width: 60%;
  }
#container3 {
    position: relative;
    bottom:0;
    left: 0;
    float: left;
    width: 40%;
}