<div class="row" style="margin-top: 75px; margin-bottom: 75px;">
    <img src="../../assets/mealmate_logo.PNG" class="img-responsive mx-auto d-block" style="width:50%;" alt="Image">
</div>

<div class="container-fluid bg-3 text-center">
    <h1>Personalized Recipe Recommendations</h1><br>
    <div class="row">
        <div class="col-sm-3" *ngFor="let recipe of recipes" style="padding-bottom:15px;">
            <p>{{ recipe.name | uppercase }} </p>
            <img src="{{ recipe.imageLink }}" class="img-responsive" style="width:70%">
            <div class="card-footer">
                <a href="http://localhost:4200/recipe/{{ recipe.recipe_id }}" class="btn btn-primary stretched-link"></a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-3 text-center">
    <h5>Ready to get a recommendation?</h5>
    <button type="button" class="btn btn-light" (click)="goToSurvey();">Take a Survey</button>
</div>