.h5,
h5 {
    color: white;
    font-family: Arial, Helvetica, sans-serif
}

.h1,
h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif
}

p {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#goToButton {
    width: 70%;
    color: white;
    background-color: #ec6941;
    border: none;
}

button {
    width: 150px;
    color: white;
    background-color: #ec6941;
    border: none;
    margin-bottom: 25px;
}