<div class="container my-4">
    <h4>Sort by rating</h4>
    <div class="form-check form-check-inline">
        <label class="form-check-label" for="inlineRadio1">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <img src="http://placehold.it/40x60/0bf/fff&text=1">
        </label>
    </div>
    <div class="form-check form-check-inline">
        <label class="form-check-label" for="inlineRadio2">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <img src="http://placehold.it/40x60/b0f/fff&text=2">
        </label>
    </div>
    <div class="form-check form-check-inline">
        <label class="form-check-label" for="inlineRadio3">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
            <img src="http://placehold.it/40x60/b0f/fff&text=3">
        </label>
    </div>
    <div class="form-check form-check-inline">
        <label class="form-check-label" for="inlineRadio4">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
            <img src="http://placehold.it/40x60/b0f/fff&text=4">
        </label>
    </div>
    <div class="form-check form-check-inline">
        <label class="form-check-label" for="inlineRadio5">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option5">
            <img src="http://placehold.it/40x60/b0f/fff&text=5">
        </label>
    </div>
    <hr class="my-3" />
    <div class="container my-4"> 
        <!--Carousel Wrapper-->
        <div *ngIf="recipes.length != 0" id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel" data-interval="false">

            <!--Controls-->
            <div class="controls-top">
                <a class="btn btn-primary" href="#multi-item-example" data-slide="prev">
                    <fa-icon [icon]="faChevronLeft"></fa-icon>
                </a>
                <a class="btn btn-primary" href="#multi-item-example" data-slide="next">
                    <fa-icon [icon]="faChevronRight"></fa-icon>
                </a>
            </div>
            <!--/.Controls-->

            <!--Indicators-->
            <ol class="carousel-indicators">
                <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
                <li data-target="#multi-item-example" data-slide-to="1"></li>
                <li data-target="#multi-item-example" data-slide-to="2"></li>
            </ol>
            <!--/.Indicators-->

            <!--Slides-->
            <div class="carousel-inner h-100" role="listbox">
                <div class="carousel-item" *ngFor="let recipe of recipesSmall; index as i; let isFirst = first" [ngClass]="{active:isFirst}">
                    <div class="card-deck">

                        <!-- Card 1 -->
                        <div class="col-md-4" *ngIf="recipes.length != 0">
                            <div class="card h-100">
                                <img class="card-img-top" src={{recipes[i*3].imageLink}} alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{recipes[i*3].name}} </h5>
                                    <p class="card-text"><br> Cook Time: {{recipes[i*3].minutes}} minutes </p>
                                </div>
                                <div class="card-footer">
                                    <a href="http://localhost:4200/recipe/{{recipes[i*3].recipe_id}}" class="btn btn-primary stretched-link"> Do a thing</a>
                                </div>
                            </div>
                        </div>
                        <!-- /.Card 1 -->

                        <!-- Card 2 -->
                        <div class="col-md-4 clearfix">
                            <div class="card h-100" *ngIf="i * 3 + 1 < recipes.length">
                                <img class="card-img-top" src={{recipes[i*3+1].imageLink}} alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{recipes[i*3+1].name}}</h5>
                                    <p class="card-text"><br> Cook Time: {{recipes[i*3+1].minutes}} minutes</p>
                                </div>
                                <div class="card-footer">
                                    <a href="http://localhost:4200/recipe/{{recipes[i*3+1].recipe_id}}" class="btn btn-primary stretched-link"> Do a thing</a>
                                </div>
                            </div>
                        </div>
                        <!-- ./Card 2 -->

                        <!-- Card 3 -->
                        <div class="col-md-4 clearfix">
                            <div class="card h-100" *ngIf="i * 3 + 2 < recipes.length">
                                <img class="card-img-top" src={{recipes[i*3+2].imageLink}} alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{recipes[i*3+2].name}}</h5>
                                    <p class="card-text"><br> Cook Time: {{recipes[i*2+2].minutes}} minutes </p>
                                </div>
                                <div class="card-footer">
                                    <a href="http://localhost:4200/recipe/{{recipes[i*3+2].recipe_id}}" class="btn btn-primary stretched-link"> Do a thing</a>
                                </div>
                            </div>
                        </div>
                        <!-- ./Card 3 -->

                    </div>
                </div>
            </div>
        </div>
        <!--/.Carousel Wrapper-->